# Python bytecode
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual envs
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Data & models (keep local by default)
data/processed/
models/

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
